

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img/Love-Coding.jpg) no-repeat;
    background-size: cover;
}
body {
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 25px:
	line-height: 20px;
    color: #ffffff;    // Changed
}
p {
	font-size: 100px;
}

}

#header {

	position: relative;
	padding: 100px;
	top: 1000px
}
#portfolio {
	position: relative;
	padding: 50px;
	top: 10px;
	
}











